* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: black;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px gray;
}

button {
    padding: 2px;
    width: 50px;
}
.input {
    background-color: hsl(0, 2%, 31%);
    flex: 1;
    overflow: hidden;
    max-width: 100%;
}

.op {
    background-color: cyan;
}

.delete, .equal {
    background-color: orange;
}

.allClear {
    background-color: red;
}

.top-buttons {
    display: flex;
    justify-content: space-around;
}

.row-1 {
    display: flex;
    justify-content: space-around;
}

.row-2 {
    display: flex;
    justify-content: space-around;
}

.row-3 {
    display: flex;
    justify-content: space-around;
}

.row-4 {
    display: flex;
    justify-content: space-around;
}

opbutton:hover {

}